/* ------------ google Fonts ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
/* ================ colors CSS variables ================ */
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: linear-gradient(60deg, #29323c 0%, #485563 100%);;

    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgba(0 0 0 / 20%);

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}
/* ================ reset ================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Alata', sans-serif;
}
/* ------------ Header (nav + background) ------------ */
.background-nav{
    z-index: 111;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 50%, rgba(0,0,0,1) 100%);
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 50%, rgba(255,255,255,1) 100%); */
    width: 100%;
    height: 45px;

}
.background-nav--destinos{
    z-index: 111;
    position: fixed;
    width: 100%;
    height: 45px;
    background: rgb(251,251,251);
    background: linear-gradient(90deg, rgba(251,251,251,1) 0%, rgba(233,233,233,1) 68%, rgba(255,255,255,1) 100%);
}
.background-nav-contacto{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 45px;
    /* -webkit-backdrop-filter: blur(15px); */
    /* backdrop-filter: blur(15px); */
    /* background-color: rgba(243, 243, 243, 0.2); */
}
.ancho-restringido{
    z-index: 999;
    display: inline-flex;
    position: sticky;
    padding-top: 20px;
}
.navbar-collapse{
    margin-left: -1%;
    position: fixed;
    width: 79%;
}
.typo-titulo{
    z-index: 777;
    display: block;
    position: fixed;
    font-family: 'Poppins';
    height: 50px;
    left: 10.6%;
    letter-spacing: 8px;
    font-size: 18px;
    font-weight: 700;
    color: whitesmoke;
    margin-top: -5px;
    text-decoration: none;
}
.typo-titulo--destinos{
    z-index: 777;
    display: block;
    position: fixed;
    font-family: 'Poppins';
    height: 50px;
    left: 10.6%;
    letter-spacing: 8px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin-top: -5px;
    text-decoration: none;
}
.typo-titulo:hover{
    color: white;
}
.typo-titulo2{
    z-index: 888;
    position: fixed;
    left: 10.75%;
    letter-spacing: 8.3px;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 500;
    color: whitesmoke;
    margin-top: -6px;
    text-decoration: none;
}
.typo-titulo2-destinos{
    z-index: 888;
    position: fixed;
    left: 10.75%;
    letter-spacing: 8.3px;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 500;
    color: black;
    margin-top: -6px;
    text-decoration: none;
}
.typo-titulo2:hover{
    color: white;
}
.typo-navegable{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 18px;
    padding: 0px 20px;
    color: #d0ddd7;
}
.typo-navegable-destinos{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 18px;
    padding: 0px 20px;
    color: black;
}
.typo-subtitulo-destino{
    color: black;
}
.typo-navegable:hover{
    color: whitesmoke;
}
.dropdown-menu{
    background-color: black;
}
.menu-destino{
    background: rgb(251,251,251);
    background: rgba(255,255,255,1);
}
.dropdown-item:hover{
    background-color: orangered;
}
/* Search */
.container {
    position: fixed;
    --size-button: 25px;
    margin-top: -2px;
    margin-left: 45%;
    margin-top: 1px;
  }
  .input {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: black;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #d0ddd7;
    box-shadow: 1.5px 1.5px 3px whitesmoke, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  .input:focus,
  .input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  .input:focus + .icon,
  .input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  .icon, .ionicon{
    color: black;
    margin-left: 5.5px;
    margin-top: -23px;
  }
  .container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  .container .icon svg {
    width: 100%;
    height: 100%;
  }
/* Weather dropdown */
.typo-subtitulo-weather{
    font-family: 'Poppins','Alata', sans-serif;
    position: absolute;
    top: 9%;
    left: 95%;
    font-size: 12px;
}
.typo-subtitulo-weather-destino{
    font-family: 'Poppins','Alata', sans-serif;
    position: absolute;
    top: 1%;
    font-size: 12px;
    color: black;
}
.weather--icon{
    color: orangered;
}
 /* Fondo del header  */
.header__background{
    background-image: url(../imagenes/photoshop/llao__llao__A.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.titulo-1{
    font-family: 'Poppins';
    position: absolute;
    top: 32%;
    left: 10%;
    color: white;
    font-weight: 700;
    font-size: 1.8em;
}
.subtitle{
    position: absolute;
    top: 37.6%;
    left: 33%;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
}
.parrafo{
    font-family: 'Poppins';
    position: absolute;
    font-size: 21px;
    top: 42%;
    left: 10.1%;
    right: 40px;
    max-width: 1080px;
    height: 180px;
    color: orangered;
    background:  rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-shadow: rgba(255, 255, 255, 0.1);
    padding: 14px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.parrafo--destino{
    font-family: 'Poppins';
    font-size: 1px;
    color:  rgba(133, 133, 133, 1);
    position: absolute;
    font-size: 14px;
    top: 51%;
    left: 12%;
}
.parrafo--fechas{
    font-family: 'Poppins';
    font-size: 1px;
    color:  rgba(160, 160, 160, 20);
    position: absolute;
    font-size: 14px;
    top: 51%;
    left: 37.5%;
}
.parrafo-hab{
    font-family: 'Poppins';
    font-size: 1px;
    color:  rgba(200, 200, 200, 30);
    position: absolute;
    font-size: 14px;
    top: 51%;
    left: 63.5%;
}
/* Input de busqueda */
.input-form {
    position: absolute;
    top: 55%;
    left: 11.2%;
  }

  .input-form-text {
    border: solid 1.9px #000;
    width: 150%;
    height: 45px;
    border-radius: .7rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  }

  .textUser {
    position: absolute;
    left: 15px;
    top: -16%;
    width: 500%;
    color:  rgba(133, 133, 133, 0.4);
    font-family: 'Poppins';
    font-weight: 500;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
  }

  .input-form-text:focus, .input-form-text:valid {
    outline: none;
    box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
    background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
    transition: background 1.5s ease-in-out;
  }

  .input-form-text:focus ~ label, input-form-text:valid ~ label {
    transform: translateY(-95%) scale(0.9);
    padding: 0 .2em;
    color: #000000be;
    left: 80px;
  }

  .input-form-text:hover {
    border: solid 1.9px #000002;
    transform: scale(1.03);
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
    transition: border-color 1s ease-in-out;
  }
.input-form--fechas{
        position: absolute;
        top: 55%;
        left: 37%;
      }
      .input-form-text {
        border: solid 1.9px #000;
        width: 150%;
        height: 45px;
        border-radius: .7rem;
        background: none;
        padding: 1rem;
        font-size: 1rem;
        color: #000000;
        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
      }
      .textUser {
        position: absolute;
        left: 15px;
        top: -16%;
        width: 500%;
        color:  rgba(133, 133, 133, 0.4);
        font-family: 'Poppins';
        font-weight: 500;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4,0,0.2,1);
      }

      .input-form-text:focus, .input-form-text:valid {
        outline: none;
        box-shadow: 1px 2px 5px rgba(133, 133, 133, 0.523);
        background-image: linear-gradient(to top, rgba(182, 182, 182, 0.199), rgba(252, 252, 252, 0));
        transition: background 1.5s ease-in-out;
      }

      .input-form-text:focus ~ label, input-form-text:valid ~ label {
        transform: translateY(-95%) scale(0.9);
        padding: 0 .2em;
        color: #000000be;
        left: 80px;
      }

      .input-form-text:hover {
        border: solid 1.9px #000002;
        transform: scale(1.03);
        box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.523);
        transition: border-color 1s ease-in-out;
      }
.input-form-hab{
    position: absolute;
    top: 55%;
    left: 63%;
}
/* INPUT FECHAS
.input-entrada{
    font-family: 'Poppins';
    font-size: 1px;
    color:  rgba(133, 133, 133, 1);
    position: absolute;
    font-size: 14px;
    top: 14%;
    left: 7%;
}
.input-entrada--submit{
    font-family: 'Poppins';
    font-size: 1px;
    color:  orange;
    background-color: black;
    position: absolute;
    font-size: 14px;
    top: 14%;
    left: 100%;
}
*/
read-btn{
    position: absolute;
    left: 11%;
    top: 61.5%;
    border: none;
    outline: none;
    background: orange;
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
/* ============ Media icons ============*/
.media-icons{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    top: 103%;
    transform: translateY(-174%);
    margin-left: 40px;
}
.media-icons a{
    color: white;
    font-size: 1.3em;
    margin: 10px;
}
.uil-music{
    z-index: 222;
    position: fixed;
    color: orangered;
    top: -400%;
    font-size: 1.3em;
}
.loading {
    --speed-of-animation: 0.9s;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* width: 60px; */
    gap: 8px;
    margin-left: 90px;
    margin-top: 525px;
    z-index: 333;
    position: fixed;
   }
   .loading span {
    width: 2px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   @keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }

    20% {
     transform: scaleY(.8);
    }
   }
/* ------------ Main (sections ------------ */
#a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 6px;
}
#aw{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
}
.titulo-mainw{
    font-family: 'Poppins';
    color: white;
    position: absolute;
    margin-left: 38%;
    margin-top: 5.5%;
    font-size: 2.8em;
    font-weight: 500;
}
.titulo-mainb{
    font-family: 'Poppins';
    color: black;
    position: absolute;
    margin-left: 37%;
    margin-top: 3%;
    font-size: 2.8em;
    font-weight: 500;
}
/* ------------ Section A (Explora Lugares) ------------ */
.background-section{
        background-color: black;
}
/* ================ tarjetas interactivas ================ */
.container-box{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
}
.box{
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin: 8px;
}
.box img{
    width: 100%;
    height: 100%;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: scale(0);
    transition: .8s ease;
}
.box:hover .capa{
    transform: scale(1);
}
/* ------------ Section B (Nuevos Destinos) ------------ */
.leer-mas{
    text-decoration: none;
    display: inline-flex;
    font-family: 'Poppins';
    color: black;
    font-size: 1em;
    margin-top: 7%;
    margin-left: 41%;
}
.leer-mas-2{
    text-decoration: none;
    display: inline-flex;
    font-family: 'Poppins';
    color: black;
    font-size: 1em;
    margin-top: 6%;
    margin-left: 2%;
}
.background-sectionw{
    background-color: white;
    height: 630px;
}
.btn {
    font-family: 'Poppins';
    color: orangered;
    border: 1px solid orangered;
    padding: .3rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
    position: absolute;
}
.tarjetitas{
    justify-content: center;
    display: flex;
    gap: 1.3rem;
    margin-top: 1%;
}
.tarjetita{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1px;
}
.tarjetita-imagen{
    width: 300px;
    border: black 1.8px solid;
    height: 375px;
}
.tarjetita-imagen-maldivas{
    width: 300px;
    height: 375px;
    border: black 1.8px solid;
}
.tarjetita-imagen-chile{
    width: 300px;
    height: 375px;
    border: black 1.8px solid;
}
.tarjetita-titulo{
    font-family: 'Poppins';
    font-size: 20px;
}
.tarjetita-texto{
    font-family: 'Poppins';
    color: orangered;
    font-size: 20px;
    margin-top: 20px;
}
/* ------------ Section C (Destino Destacado) ------------ */
section{
    position: relative;
}
.background-section-C{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.titulo-mainw-d{
    font-family: 'Poppins';
    color: white;
    position: absolute;
    margin-left: 32%;
    margin-top: 3%;
    font-size: 2.8em;
    font-weight: 500;
}
.leer-mas-w{
    text-decoration: none;
    display: inline-flex;
    font-family: 'Poppins';
    color: white;
    font-size: 1em;
    margin-top: 7%;
    margin-left: 40.5%;
}
.leer-mas-2-w{
    text-decoration: none;
    display: inline-flex;
    font-family: 'Poppins';
    color: white;
    font-size: 1em;
    margin-top: 6%;
    margin-left: .9%;
}
.container-destino{
    position: absolute;
    top: 18%;
    left: 14%;
    height: 80vh;
    width: 70%;
    padding: 10px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "venecia    ny"
    "marruecos  japon";
}
.venecia{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1627156863760-f49b81d8ab77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-size: cover;
    background-position: center;
}
.nuevayork{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/desktop/NY.jpeg);
    background-size: cover;
    background-position: center;
}
.marruecos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1545167496-31b3aa75296c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.japon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=892&q=80);
    background-size: cover;
    background-position: center;
}
/*------------ section D ("Grids") ------------ */
.background-sectionw-g{
    background-color: white;
    width: 100%;
    height: 200vh;
}
#agr-an{
    font-family: 'Poppins';
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    -webkit-animation:focus-in-contract 2s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-contract 2s cubic-bezier(.25,.46,.45,.94) both;
}
    @-webkit-keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract{0%{letter-spacing:1em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
#agr{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
}
#ag{
    font-family: 'Poppins';
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 38%;
    list-style: none;
    text-decoration: none;
    /* color: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    -webkit-animation: focus-in-expand 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	animation: focus-in-expand 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
.grids2{
    width: 100%;
    height: 200vh;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "caja1 caja2"
    "caja1 caja2"
    "caja3 caja4"
    "caja3 caja4";
}
.caja1{
    grid-area: caja1;
    background: rgb(208,208,208);
    background: radial-gradient(circle, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 20px;
}
.caja2{
    grid-area: caja2;
    background-color: black;
    margin-left: -10px;
    margin-right: 21px;
    margin-top: 20px;
}
.caja3{
    grid-area: caja3;
    background: rgb(208,208,208);
    background: radial-gradient(circle, rgba(208,208,208,1) 0%, rgba(255,255,255,1) 100%);
    margin-left: 20.5px;
    margin-right: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.caja4{
    grid-area: caja4;
    background-color: black;
    margin-left: -10px;
    margin-right: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*------------ section D ("Sobre Nosotros") ------------ */
.sectiond{
    background-color: black;
}
.sobre-nosotros{
    font-family: 'Poppins';
    font-size: 2.8em;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 38%;
    display: inline-flex;
    color:white;
}
.nosotros{
    width: 400px;
    position: static;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins';
    display: inline-flex;
    position: absolute;
    top: 10%;
    left: 37.7%;
    color: white;
}
.leer-mas-w-sn{
    text-decoration: none;
    display: flex;
    font-family: 'Poppins';
    color: white;
    font-size: 1em;
    margin-top: 2.5%;
    margin-left: 41%;
}
.leer-mas-2-w-sn{
    text-decoration: none;
    display: flex;
    font-family: 'Poppins';
    color: white;
    font-size: 1em;
    margin-top: -1.75%;
    margin-left: 50%;
}
.gopro{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 21%;
    max-width: 1000px;
}
.exppro{
    color: white;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 2vh;
    display: inline-flex;
    margin-bottom: -1%;
    margin-left: 285px;
}
.gopro-img{
    width: 60px;
    height: 27px;
}
.section__politic{
    width: 100%;
    height: 40vh;
    margin-top: 50px;
    background: rgb(182,182,182);
    background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(255,251,251,1) 100%);
}
.section__politic--parrafo{
    /* top: 30%; */
    padding: 20px;
    margin: 5px 0 30px;
}
/* ================ footer ================ */
.pc{
    font-family: 'Poppins';
    color: red;
}
.hr{
    color: black;
    margin-top: 5%;
}
.footer-menu{
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* color: black; */
    padding: 2rem;
    text-align: center;
}
.footer-menu{
    display: flex;
    font-family: 'Poppins';
    font-size: .75rem;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.logo{
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Poppins';
    letter-spacing: 8px;
}
.sublogo{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: -1%;
    letter-spacing: 8px;
    color: black;
}
ul{
    display: column;
    list-style: none;
    margin-left: 46%;
}
.sup{
    text-decoration: none;
    color: black;
}
.icons-copyright{
    align-items: center;
    justify-content: center;
}
.icons-copyright{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}
.copyright{
    color: grey;
    font: .75rem;
    font-family: 'Poppins';
}


/*------------ section A ("Contacto") ------------ */
/* grid introd. */
.container__grid{
    width: 100%;
    height: 90vh;
    display: grid;
    padding: .2rem;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja3 caja3 caja4"
    "caja2 caja2 caja5 caja6";
}
.caja1--grid{
    margin-top:13.3%;
    grid-area: caja1;
    background-image: url(https://images.unsplash.com/photo-1500759285222-a95626b934cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja2--grid{
    grid-area: caja2;
    background-image: url(https://images.unsplash.com/photo-1589837391857-2ce9dd7e868a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja3--grid{
    margin-top: 6.6%;
    grid-area: caja3;
    background-image: url(https://images.unsplash.com/photo-1631554203859-4322c35d1bdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja4--grid{
    margin-top: 13.3%;
    grid-area: caja4;
    background-image: url(https://images.unsplash.com/photo-1597787450633-6c1e7aa7218a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.caja5--grid{
    grid-area: caja5;
    background-image: url(https://images.unsplash.com/photo-1597086831879-756db15e81d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.caja6--grid{
    grid-area: caja6;
    background-image: url(https://images.unsplash.com/photo-1483457138838-b9411a2dbebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
/* Soporte Grid */
.titulo-mainw--soporteblack{
    font-family: 'Poppins';
    font-size: 2.8em;
    font-weight: 500;
    margin-top: 2.8%;
    margin-left: 37%;
    z-index: 777;
    display: block;
    color: black;
}
.container__grid-soporte{
    width: 100%;
    /* height: 90vh; */
    display: grid;
    padding: .2rem;
    gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja2 caja3"
}
.caja1-soporte{
    grid-area: caja1;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja2-soporte{
    grid-area: caja2;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja3-soporte{
    grid-area: caja3;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.container__grid-soporte{
    width: 90%;
    height: 90vh;
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    padding: .2rem;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja2 caja3";
}
.caja1--grid--soporte{
    grid-area: caja1;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja2--grid--soporte{
    grid-area: caja2;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja3--grid--soporte{
    grid-area: caja3;
    background-color: #d7d7d7;
    border-radius: 18px;
}
/* ¿como podemos ayudarte? */
.titulo-mainw-ayuda{
    display: flex;
    justify-content: center;
    margin-top: -17%;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Poppins';
}
#soporte-link1{
    display: flex;
    justify-content: center;
    margin-top: 40%;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins';
}
#soporte-link2{
    display: flex;
    justify-content: center;
    margin-top: 40%;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins';
}
#soporte-link3{
    display: flex;
    justify-content: center;
    margin-top: 40%;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Poppins';
}
.uil-plane-fly{
    display: flex;
    justify-content: center;
    margin-top: -25%;
    font-size: 3rem;
    color: #282f4e;
}
/* Buscador Contacto */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 10%;
    margin-top: 3%;
    justify-content: center;
  }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 70em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
    margin-top: 1%;
  }
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  .search__button:hover {
    cursor: pointer;
  }
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
.container__grid-contacto{
    position: absolute;
    top: 18%;
    left: 14%;
    height: 80vh;
    width: 70%;
    padding: 10px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja2";
}
/* Aventuras, paso a paso */
.titulo-mainw-ayuda2{
    font-family: 'Poppins';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-top: -5%;
    text-decoration: none;
}
.container__ayuda{
    width: 90%;
    height: 90vh;
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    padding: .2rem;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja2 caja3"
    "caja4 caja5 caja6";
}
.caja1-ayuda{
    grid-area: caja1;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja2-ayuda{
    grid-area: caja2;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja3-ayuda{
    grid-area: caja3;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja4-ayuda{
    grid-area: caja4;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja5-ayuda{
    grid-area: caja5;
    background-color: #d7d7d7;
    border-radius: 18px;
}
.caja6-ayuda{
    grid-area: caja6;
    background-color: #d7d7d7;
    border-radius: 18px;
}
/* Contenido de caja adventure, paso a paso */
.adventure-ayuda{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.adventure-ayuda--parrafo{
    font-family: 'Poppins';
    color: grey;
    display: flex;
    align-items: center; 
    padding: 10px; 
    margin-top: 7%;
    margin-left: 30%; 
}
/* Newsletter */
.section__newsletter-no{
    font-family: 'Poppins';
    width: 100%;
    height: 40vh;
    margin-top: 5%;
    margin-bottom: 4%;
    background: rgb(182,182,182);
    background: radial-gradient(circle, rgba(182,182,182,1) 0%, rgba(255,251,251,1) 100%);
}
.titulo-note{
    font-weight: 400;
    font-size: 1.7rem;
    color: black;
    margin-left: 38%; 
    margin-top: -19%;
}
.subtitulo-no{
    font-family: 'Poppins';
    color: black;
    margin-left: 30%;
    margin-top: 2%;
}
.input-group {
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    margin-top: 1%;
  }
  .input_group {
    font-family: 'Poppins';
    min-height: 50px;
    margin-left: 30%;
    width: 470px;
    padding: 0 1rem;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: orangered;
  }
  .input:focus, .input:focus-visible {
    border-color: red;
    outline: none;
  } 


/* DESTINOS */
/* grid introd. */
.grid_america{
    width: 100%;
    height: 90vh;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "caja1 caja2 caja3 caja4"
    "caja5 caja6 caja7 caja8";
}
.caja1--grid_america{
    margin-top:13.3%;
    grid-area: caja1;
    background-image: url(https://images.unsplash.com/photo-1500759285222-a95626b934cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja2--grid_america{
    margin-top:13.3%;
    grid-area: caja2;
    background-image: url(https://images.unsplash.com/photo-1589837391857-2ce9dd7e868a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja3--grid_america{
    margin-top:13.3%;
    grid-area: caja3;
    background-image: url(https://images.unsplash.com/photo-1631554203859-4322c35d1bdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja4--grid_america{
    margin-top: 13.3%;
    grid-area: caja4;
    background-image: url(https://images.unsplash.com/photo-1597787450633-6c1e7aa7218a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.caja5--grid_america{
    grid-area: caja5;
    background-image: url(https://images.unsplash.com/photo-1597086831879-756db15e81d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;
}
.caja6--grid_america{
    grid-area: caja6;
    background-image: url(https://images.unsplash.com/photo-1483457138838-b9411a2dbebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja7--grid_america{
    grid-area: caja7;
    background-image: url(https://images.unsplash.com/photo-1483457138838-b9411a2dbebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}
.caja8--grid_america{
    grid-area: caja8;
    background-image: url(https://images.unsplash.com/photo-1483457138838-b9411a2dbebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
}

.america-background{
    /* background-color: black;  */
    background: rgb(177,177,177); 
    background: radial-gradient(circle, rgba(177,177,177,1) 0%, rgba(237,237,237,1) 100%); 
    width: 100%;
    height: 100vh;
}
.america-title{
    font-family: 'Poppins'; 
    color: red;
    display: inline-flex;
    position: relative;
    margin-left: 30%; 
    margin-top: 6%;  
    font-size: 2.8em; 
    font-weight: 500; 
}
.tarjetas_destino{ 
    text-decoration: none;
}
.card-destinos {
    font-family: 'Poppins';
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
  }
  .card-destinos:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  .card-destinos:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
.destinos-2{
    color: red;
}
/*------------ section E ("Paquetes exclusivos") ------------ */
/*
.cuadrado{
    width: 100%;
    height: 300px;
    background-color: black;
    align-items: center;
}
.titulo-main{
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    margin-left: 200px;
}
.publicidad{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-left: 100px;
    padding: 20px;
}
.tokio{
    display: flex;
    background-image: url(../imagenes/photoshop/promocion.jpg);
    width: 65vh;
    background-size: cover;
    background-size: cover;
    border-radius: 8px;
}
.ny{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.staticontent.com/media/pictures/716b2ccf-ca9c-4a78-85ca-7a43d9c55787);
    /* background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    width: 200px;
    height: 180px;
    border-radius: 8px;
}
.seattle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../imagenes/photoshop/Descuento\ Europa.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
    /* width: 200px; */
    /* height: 180px; */
    /* border-radius: 8px; */
/* ================ Media Queries ================ */
@media screen and (max-width: 480px){
    .tokio{
     background-image: url(https://i.pinimg.com/564x/fd/c2/f4/fdc2f46b4357c49c87d7393beed8771b.jpg);
     background-size: cover;
     background-position: right;
     }
    .ny{
        background-image: url(https://i.pinimg.com/564x/a6/72/60/a67260a8f271871754d634e18d4f18d0.jpg);
        background-size: cover;
        background-position: center;
        }
    .seattle{
        background-image: url(https://i.pinimg.com/564x/bf/9c/92/bf9c9224467c6378d38741612c9a503d.jpg);
        background-size: cover;
        background-position: center;
        }
    .maldivas{
        background-image: url(https://i.pinimg.com/736x/47/c8/11/47c811380d505dc88b01e26d055f6765.jpg);
        background-size: cover;
        background-position: center;
        }
    .sydney{
        background-image: url(https://i.pinimg.com/564x/2f/ef/a3/2fefa314fe58ab97f847fec69bc175e3.jpg);
        background-size: cover;
        background-position: left;
        }
    .chile{
        background-image: url(https://i.pinimg.com/564x/06/cf/ee/06cfee2c002c11a9720eb5448583f90f.jpg);
        background-size: cover;
        background-position: left;
        }
    .brasil{
        background-image: url(https://i.pinimg.com/564x/0a/86/4e/0a864ed7fc62f955c412c2541251935d.jpg);
        background-size: cover;
        background-position: center;
        }
    .argentina{
        background-image: url(https://i.pinimg.com/564x/70/ef/10/70ef10f8525f5cd130b276bc4a41060a.jpg);
        background-size: cover;
        background-position: center;
        }
}